.page-title {
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--catalog {
    padding-bottom: 40px;
  }

  &--form {
    padding-bottom: 37px;
  }

  @media @tablet {
    font-size: 60px;
    line-height: 60px;
  }

  @media @tabletonly {
    &--catalog {
      padding-top: 65px;
      padding-bottom: 53px;
    }

    &--form {
      padding-top: 65px;
      padding-left: 39px;
      padding-bottom: 54px;
    }
  }

  @media @desktop {
    padding-top: 74px;

    &--catalog {
      padding-top: 75px;
      padding-bottom: 54px;
    }

    &--form {
      padding-bottom: 56px;
    }
  }
}
