.questionary {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media @tablet {
    font-size: 20px;
    line-height: 30px;
  }

  @media @desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.questionary__part {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  &--cat {
    margin-bottom: 27px;

    @media @tabletonly {
      margin-bottom: 72px;
      margin-left: 41px;
      margin-right: 37px;
    }

    @media @desktop {
      margin-left: 1px;
      margin-bottom: 69px;
      grid-column-start: 1;
    }
  }

  &--program {
    padding: 22px @padding 19px;
    margin: 0 -@padding 26px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;

    @media @tablet {
      border: 1px solid #e7e7e7;
      padding: 25px 28px;
    }

    @media @tabletonly {
      margin: 0 41px 71px 39px;
    }

    @media @desktop {
      margin-left: 0;
      margin-right: 2px;
      margin-bottom: 65px;
      grid-column-start: 2;
    }
  }

  &--owner {
    margin-bottom: 24px;

    @media @tablet {
      margin-bottom: 65px;
    }

    @media @desktop {
      margin-left: 1px;
      margin-bottom: 69px;
      grid-column: 1 / span 2;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--comment {
    margin-bottom: 23px;

    @media @tablet {
      display: flex;
      flex-direction: column;
    }

    @media @tabletonly {
      margin-bottom: 65px;
    }

    @media @desktop {
      margin-bottom: 67px;
      grid-column: 1 / span 2;
    }
  }

  &--add {
    margin-bottom: 22px;

    @media @desktop {
      margin-bottom: 61px;
      grid-column: 1 / span 2;
    }
  }
}

.questionary__legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: initial;
  white-space: nowrap;
  background-color: #ffffff;
  padding: 0;
  box-sizing: border-box;

  &--title {
    width: min-content;
    padding-left: @padding;
    margin-left: -@padding;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      background-color: #68b738;
      margin-top: 16px;
    }

    @media @tablet {
      font-size: 36px;
      line-height: 36px;
      position: static;
      margin-left: 0;

      &::before {
        margin-top: 24px;
      }
    }

    @media @desktop {
      padding-left: 40px;
      padding-right: 40px;
      margin-left: -40px;
    }
  }

  &--owner {
    padding-right: 14px;
    margin-bottom: 35px;

    @media @tablet {
      margin-bottom: 76px;

      br {
        display: none;
      }
    }

    @media @tabletonly {
      padding-left: 39px;
      padding-right: 42px;
    }
  }

  &--comment {
    padding-right: 22px;
    margin-bottom: 38px;

    @media @tablet {
      margin-bottom: 76px;
    }

    @media @tabletonly {
      padding-left: 39px;
      padding-right: 38px;
    }
  }

  &--add {
    margin-bottom: 34px;
    padding-right: 24px;

    @media @tablet {
      margin-bottom: 57px;
    }

    @media @tabletonly {
      padding-left: 40px;
      padding-right: 41px;
    }
  }
}

.questionary__line {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  &--cat:not(:last-child) {
    margin-bottom: 13px;

    @media @tablet {
      margin-bottom: 20px;
    }
  }

  &--program:not(:last-child) {
    margin-bottom: 13px;
  }

  &--program {
    min-height: 30px;
  }

  &--email {
    margin-bottom: 14px;

    @media @tabletonly {
      margin-bottom: 20px;
      padding-left: 41px;
      padding-right: 35px;
    }

    @media @desktop {
      width: calc((100% - 80px) / 2);
      padding-left: 1px;
      margin-bottom: 0;
      margin-right: 78px;
    }
  }

  &--phone {
    @media @tabletonly {
      padding-left: 38px;
      padding-right: 36px;
    }

    @media @desktop {
      width: calc((100% - 80px) / 2 + 2px);
    }
  }

  &--checkbox {
    margin-bottom: 12px;

    @media @tablet {
      min-width: 221px;
      width: auto;
    }

    @media @tabletonly {
      margin-bottom: 32px;
      margin-left: 40px;
      margin-right: 83px;
    }

    @media @desktop {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 104px;
      }
    }
  }
}

.questionary__input {
  width: 100%;
  min-height: 45px;
  box-sizing: border-box;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;

  @media @tablet {
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  &--error {
    border: 2px solid #ff8282;

    ~ .questionary__input--email-pic {
      path {
        stroke: #ff8282;
      }
    }

    ~ .questionary__input--phone-pic {
      g {
        fill: #ff8282;
      }
    }
  }

  &--cat {
    padding: 12px 16px 14px;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    @media @tablet {
      padding: 9px 19px 11px;
    }
  }

  &--owner {
    padding: 13px 15px 14px;

    @media @tabletonly {
      padding: 10px 21px;
    }

    @media @desktop {
      min-height: 50px;
      padding: 10px 22px 8px;
    }
  }

  &--email {
    padding-right: 40px;
    margin-right: -16px;
  }

  &--phone {
    padding-right: 40px;
    margin-right: -16px;
  }

  &--email-pic {
    width: 19px;
    height: 14px;
    position: relative;
    right: 15px;

    @media @tabletonly {
      right: 19px;
    }

    @media @desktop {
      right: 20px;
    }
  }

  &--phone-pic {
    width: 20px;
    height: 20px;
    position: relative;
    right: 13px;

    @media @tablet {
      right: 17px;
    }
  }

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus,
  &:active {
    border: 2px solid #444444;
    outline: none;
  }
}

.questionary__label {
  margin-right: 12px;
  white-space: nowrap;
  color: #444444;
  transition: all 0.2s;

  &--cat {
    margin-right: 13px;

    @media @tabletonly {
      margin-right: 11px;
    }

    @media @desktop {
      margin-right: 14px;
    }
  }

  &--email {
    margin-right: 11px;

    @media @tabletonly {
      margin-right: 18px;
    }

    @media @desktop {
      margin-right: 20px;
    }
  }

  &--phone {
    margin-right: 8px;

    @media @tabletonly {
      margin-right: 14px;
    }

    @media @desktop {
      margin-right: 15px;
    }
  }

  &--radio {
    color: #222222;
    margin: 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      padding: 7px;
      border-radius: 50%;
      border: 1px solid #cdcdcd;
      margin-right: 16px;
      box-sizing: border-box;
      background-clip: content-box;
      transition: all 0.2s;

      @media @tablet {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        padding: 10px;
      }
    }

    &:hover {
      &::before {
        border-color: #bababa;
      }
    }
  }

  &--check {
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      box-sizing: border-box;
      margin-right: 16px;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.2s;

      @media @tablet {
        width: 40px;
        height: 40px;
        margin-right: 19px;
      }
    }

    &:hover {
      &::before {
        border-color: #bababa;
      }
    }
  }
}

.questionary__radio {
  &:checked {
    ~ .questionary__label--radio::before {
      background-color: #68b738;
    }
  }

  &:disabled {
    ~ .questionary__label--radio {
      opacity: 0.3;
    }

    ~ .questionary__label--radio::before {
      border-color: #bababa;
    }
  }
}

.questionary__checkbox {
  &:checked {
    ~ .questionary__label--check::before {
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.72L1.3 5.27.25 6.46 7 14.09 18.25 1.37 17.2.09 7 11.72z' fill='%2368B738'/%3E%3C/svg%3E");
    }
  }

  &:disabled {
    ~ .questionary__label--check {
      opacity: 0.3;
    }

    ~ .questionary__label--check::before {
      border-color: #bababa;
    }
  }
}

.questionary__textarea {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  padding: 9px 12px 15px;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  color: #444444;

  &::placeholder {
    color: #444444;
  }

  @media @tablet {
    width: auto;
    min-height: 174px;
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
  }

  @media @tabletonly {
    margin-left: 40px;
    margin-right: 37px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus,
  &:active {
    border: 2px solid #444444;
    outline: none;
  }
}

.questionary__list {
  .list();
  margin: 0;

  @media @tabletonly {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media @desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.questionary__submit {
  width: 100%;
  border: none;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin-bottom: 21px;

  @media @tablet {
    min-height: 52px;
    font-size: 20px;
    line-height: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    width: auto;
    margin-bottom: 0;
    display: inline-flex;
  }

  @media @tabletonly {
    min-width: 262px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 41px;
    margin-right: 61px;
  }

  @media @desktop {
    min-width: 568px;
    padding-left: 188px;
    padding-right: 188px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

.questionary__footnote {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-transform: initial;

  @media @tablet {
    display: inline-flex;
    font-size: 16px;
    vertical-align: top;
  }

  @media @tabletonly {
    margin-top: 15px;
  }

  @media @desktop {
    margin-top: 17px;
  }
}
