.social-list {
  .list();
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  width: min-content;
}

.social-list__item {
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;

  &:not(:last-child) {
    margin-right: 33px;
  }
}
