.social-list {
  .list();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;

  @media @tablet {
    padding-top: 0;
  }
}

.social-list__item {
  display: flex;
  align-items: center;

  &--vk {
    margin: 0 18px;

    @media @tablet {
      margin: 0 14px;
    }
  }

  &--ig {
    margin: 0 19px;

    @media @tablet {
      margin: 0 14px;
    }
  }

  &--fb {
    margin: 0 20px;

    @media @tablet {
      margin: 0 15px;
    }
  }
}
