.program {
  padding: 30px 20px 18px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  position: relative;
}

.program__title {
  margin: 0 0 29px 0;
  padding-left: 71px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }

  &--slim::before {
    width: 50px;
    height: 53px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='53' viewBox='0 0 50 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='28' r='25' fill='%2368B738'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M35.2034 0H35.008C34.6778 0.187081 34.415 0.473924 34.2571 0.819588C33.968 1.37738 33.7453 1.96735 33.5937 2.57732C33.5612 2.76073 33.4688 2.92811 33.331 3.05315C33.1932 3.17818 33.0179 3.25377 32.8326 3.26804C32.2658 3.36597 31.7288 3.59243 31.2626 3.93012C30.7965 4.26781 30.4135 4.7078 30.1429 5.21649C29.7708 5.87697 29.4526 6.5665 29.1914 7.27835C28.4611 9.17526 27.9006 11.134 27.2114 13.0464C26.8874 13.9175 26.872 13.9175 25.8949 13.9175C24.7274 13.9175 24.8097 13.7371 24.7943 15.0258C24.7943 15.433 24.9177 15.6392 25.3497 15.6186C25.4834 15.6186 25.684 15.5515 25.7354 15.7268C25.7869 15.9021 25.612 15.9794 25.5091 16.0825C24.8994 16.7029 24.1276 17.1388 23.2823 17.3402C22.3051 17.6031 21.3074 17.8093 20.356 18.1289C17.9131 18.9485 15.6554 20.0928 13.8966 22.0309C12.8681 23.2347 12.0445 24.6001 11.4589 26.0722C9.57143 30.5258 8.656 35.2165 7.94629 39.9536C7.612 42.1753 7.37543 44.4072 7.19543 46.6546C7.10286 47.7577 7 48.8763 7 50H24.1411C24.1696 49.7731 24.1283 49.5429 24.0229 49.3402C23.858 48.9289 23.5901 48.5672 23.2451 48.29C22.9 48.0128 22.4895 47.8295 22.0531 47.7577C21.6931 47.6753 21.652 47.567 21.8731 47.2835C22.2338 46.801 22.5103 46.2607 22.6909 45.6856C23.5291 43.2062 23.8531 40.6186 24.2594 38.0567C24.4889 36.0999 25.0894 34.2051 26.0286 32.4742C26.7611 31.2002 27.7382 30.0842 28.9034 29.1907C29.3303 28.866 29.3457 28.866 29.4177 29.4175C29.4691 29.7835 29.4794 30.1598 29.5051 30.5309C29.6595 32.9662 29.6285 35.4097 29.4126 37.8402C29.2184 39.7242 29.1926 41.6217 29.3354 43.5103C29.5399 45.7029 29.9304 47.8739 30.5029 50H37.3429C37.2536 49.442 36.9973 48.9243 36.6078 48.5156C36.2184 48.1069 35.7143 47.8264 35.1623 47.7113C34.5177 47.6087 33.8587 47.6438 33.2286 47.8144C32.92 47.8866 32.7914 47.8144 32.7657 47.4794C32.5529 44.7505 32.7261 42.0051 33.28 39.3247C33.966 36.2304 34.4912 33.1025 34.8537 29.9536C34.9887 28.6819 35.3881 27.4528 36.0263 26.3454C36.6383 25.2526 37.1731 24.1186 37.7749 23.0206C38.0138 22.6214 38.1575 22.1723 38.195 21.7083C38.2325 21.2443 38.1626 20.7779 37.9909 20.3454C37.852 19.9794 37.7183 19.6082 37.5486 19.2577C37.0343 18.2526 36.52 17.2577 36.0469 16.2423C35.7949 15.7268 35.8514 15.6649 36.412 15.6495C37.2503 15.6495 37.2503 15.6495 37.2657 14.8041C37.2657 14.6907 37.2657 14.5773 37.2657 14.4639C37.2657 14.1082 37.132 13.9124 36.7514 13.9485C36.4943 13.9485 36.2371 13.9485 35.9697 13.9485C35.6149 13.9485 35.512 13.799 35.5994 13.433C35.7729 12.838 36.1142 12.306 36.5823 11.9009C37.0503 11.4958 37.6252 11.2349 38.2377 11.1495C39.3772 11.0505 40.5251 11.1252 41.6423 11.3711C41.7712 11.4118 41.9109 11.4001 42.0312 11.3383C42.1515 11.2766 42.2427 11.1699 42.2851 11.0412C42.4909 10.5258 42.7171 10.0103 42.9486 9.49484C43.001 9.40339 43.0242 9.29801 43.015 9.19293C43.0058 9.08785 42.9647 8.98812 42.8971 8.90722C41.2514 6.81443 39.4669 4.86082 37.0343 3.60825C36.9168 3.55754 36.8138 3.47814 36.7347 3.3773C36.6557 3.27646 36.6031 3.15738 36.5817 3.03093C36.444 2.29408 36.225 1.57487 35.9286 0.886598C35.7895 0.519904 35.5349 0.20865 35.2034 0V0Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='36' height='50' fill='white' transform='translate(7)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  &--pro::before {
    width: 67px;
    height: 50px;
    left: -9px;
    background-image: url("data:image/svg+xml,%3Csvg width='67' height='50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='34.5' cy='25' r='25' fill='%2368B738'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M61.55 13.9a7.598 7.598 0 012.25-2.3c.5-.35.8-.35 1.1.3.4.95.75 1.95.45 3a1.145 1.145 0 00.2 1.05c.3.4.55.8.8 1.15a3.136 3.136 0 01.45 3.1 2.715 2.715 0 00-.1 1.55c.1.495.1 1.005 0 1.5a1.875 1.875 0 01-1.35 1.6c-.64.122-1.21.478-1.6 1a.525.525 0 01-.45.25c-.6.1-2.1-1.25-2.1-1.85v-.3c.05-1.8-.05-1.95-1.7-2.7a2.195 2.195 0 01-.9-.6c-.3-.4-.7-.35-1.15-.2-.45.15-.7.45-.65.95.15 1.21.2 2.431.15 3.65a.94.94 0 00.1.4c1.55 2.25 2.15 4.9 2.9 7.45.6 1.95 1.7 3 3.7 3.15.32.026.638.076.95.15a2.08 2.08 0 011.7 1.6c.35 1.05.15 1.3-.9 1.3h-3.25a1.62 1.62 0 01-1.15-.4 5.855 5.855 0 00-1.7-1 3.63 3.63 0 01-1.7-1.3 14.304 14.304 0 00-2-2.25c-1.4-1.45-2.9-2.85-4.2-4.35a5.69 5.69 0 01-1.6-3.8c0-.45-.1-.65-.6-.45a.965.965 0 01-.5.15c-1.4 0-2.1.85-2.6 2.1-.45 1.05-1.05 2.05-1.6 3.1A5.194 5.194 0 0044 33c0 1.2.3 1.6 1.4 2 .7.25 1.35.5 1.7 1.2.4.8.3 1-.55 1.05h-3.4a.94.94 0 01-.95-.55l-.9-1.5a3.024 3.024 0 01-.35-2.7 5.93 5.93 0 00.05-2.65 4.209 4.209 0 01.85-3.5c.3-.35.3-.5-.2-.6a25.028 25.028 0 01-5.9-2.05.05.05 0 01-.05-.05c-1.6-.6-1.9-.5-2.35 1.15-.4 1.4-.8 2.8-1.1 4.25-.35 1.6.05 3.1.55 4.6.2.6.8.55 1.25.7 1 .3 1.85.7 2.25 1.75.35.8.3.9-.55.9-.85 0-1.7-.05-2.6 0a3.32 3.32 0 01-2.1-.7c-2.4-1.6-3.1-4.05-3.3-6.7-.1-1.65-1-2.95-2.05-4.2-.2-.25-.4-.35-.7-.15a22.16 22.16 0 01-3.35 1.5 13.355 13.355 0 00-6.1 4.4 5.315 5.315 0 00-1.1 2.55c-.15.9.1 1.3 1 1.55s1.35.75 1.45 1.7c.05.4-.1.6-.5.6h-4.05a.826.826 0 01-.65-.4 4.28 4.28 0 01-.95-2.75 25.292 25.292 0 01.45-5.15 3.149 3.149 0 011.7-2.4c2.95-1.4 4.5-4.05 5.9-6.8.3-.55.05-.65-.45-.6a8.233 8.233 0 00-3.85 1.6 35.307 35.307 0 00-4.15 3.55 8.335 8.335 0 01-5.15 2.45c-3.65.2-5.35-1.85-5.2-5.15a4.845 4.845 0 011.2-3.05 2.125 2.125 0 012.25-.75c.75.2.95.6.65 1.35-.15.3-.35.55-.5.85a3.75 3.75 0 00-.5 1c-.55 1.5.2 2.55 1.75 2.7 1.65.15 3-.55 4.25-1.55a22.474 22.474 0 004-4.15 10.395 10.395 0 017.2-4.05c1.15-.15 2.15-.65 3.25-.95 2.057-.627 4.2-.93 6.35-.9a6.5 6.5 0 002.9-.55c2.45-1 5-1 7.55-.5 2 .4 4 .9 5.95 1.4a8.291 8.291 0 003.5-.1 33.885 33.885 0 016.7-1 9.079 9.079 0 014.3.85c1 .45 1 .45.75 1.4z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' transform='translate(0 11)' d='M0 0h67v28H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}

.program__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 13px 20px 0;
}

.program__stripe {
  color: #d9d9d9;
  margin: 0 0 15px;
}

.program__link {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  display: flex;

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='2' d='M0 6h18'/%3E%3Cpath d='M24 6l-6.8 5.2V.8L24 6z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    align-self: center;
    margin-left: 17px;
  }
}
