.page-main__title {
  margin: 0 0 37px;

  @media @tabletonly {
    margin-left: 39px;
    margin-bottom: 54px;
  }

  @media @desktop {
    margin-bottom: 56px;
  }

  &--catalog {
    margin-bottom: 41px;

    @media @tablet {
      margin-left: 0;
      margin-bottom: 53px;
    }

    @media @tabletonly {
      padding-top: 65px;
    }

    @media @desktop {
      padding-top: 74px;
    }
  }
}
