.add-product-card {
  display: flex;
  flex-wrap: wrap;

  @media @tablet {
    align-items: baseline;
  }

  @media @desktop {
    flex-wrap: nowrap;
  }
}

.add-product-card__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #222222;
  margin: 0 0 13px;
  width: 100%;

  @media @tablet {
    font-size: 20px;
  }

  @media @tabletonly {
    width: max-content;
    margin: 0 auto 0 0;
  }

  @media @desktop {
    min-width: 324px;
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.add-product-card__description {
  margin: 0 auto 15px 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media @tablet {
    font-size: 16px;
    line-height: 20px;
  }

  @media @tabletonly {
    margin: 0;
  }

  @media @desktop {
    min-width: 244px;
    margin-bottom: 0;
  }
}

.add-product-card__price {
  margin: 0 0 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media @tabletonly {
    width: 92px;
    text-align: right;
    margin: 0;
  }

  @media @desktop {
    min-width: 82px;
    margin-bottom: 0;
  }
}

.add-product-card__buy {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;
  padding: 7px;

  @media @tabletonly {
    margin-top: 24px;
  }

  @media @desktop {
    max-width: 244px;
  }
}
