.page-footer {
  padding: 49px 0 22px;
  background-color: #f2f2f2;
}

.page-footer__container {
  max-width: 480px;
  margin: 0 auto;
}

.page-footer__stripe {
  color: #d9d9d9;
  margin: 0;
}

.page-footer__logo {
  display: block;
  width: min-content;
  margin: 0 auto 32px;
}

.page-footer__list {
  margin: 0 auto 21px;
}

.page-footer__copyright {
  margin: 0 auto;
}
