.buttons {
  .list();
  display: flex;
  justify-content: space-between;
}

.buttons__button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
