.questionary-block {
  padding-bottom: 32px;
}

.questionary-block__container {
  max-width: 480px;
  margin: 0 auto;
}

.questionary-block__text {
  margin: 0 0 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.questionary-block__form {
  margin-bottom: 21px;
}

.questionary-block__footnote {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
