.copyright {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media @tablet {
    justify-content: flex-end;
    padding-top: 0;
  }
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &:hover,
  &:focus {
    .copyright__image {
      color: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__image {
  font-size: 0;
  color: #666666;

  @media @tablet {
    margin-left: 22px;
  }
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
