.promo {
  padding-top: 27px;
  color: #ffffff;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 302px, #fff 302px);
  background-image: url("../../img/index-background-desktop 2.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.promo__wrapper {
  box-sizing: border-box;
  max-width: 480px;
  margin: 0 auto;
}
.promo__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  margin: 0 0 25px;
}
.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px;
}
.promo__picture {
  display: block;
  margin: 0 auto 3px;
}
.promo__link {
  font-size: 14px;
  line-height: 18px;
  padding: 7px;
}
