.site-menu {
  .list();
  font-family: "Oswaldmedium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;

  &--hide {
    height: 0;

    @media @tablet {
      height: auto;
    }
  }

  @media @tabletonly {
    font-size: 18px;
    line-height: 24px;
  }

  @media @tablet {
    display: flex;
    border: none;
    justify-content: flex-end;
    font-family: "Oswaldregular", "Arial", sans-serif;
    font-weight: 400;
    flex-wrap: wrap;
  }

  @media @desktop {
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: #ffffff;
    }
  }
}

.site-menu__link {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;
  transition: opacity 0.1s;

  @media @tablet {
    margin-left: 35px;
    border: none;
    padding: 0;
    position: relative;

    &--current::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      background-color: #68b738;
    }
  }

  @media @tabletonly {
    padding-bottom: 10px;

    &--current::after {
      bottom: 2px;
    }
  }

  @media @desktop {
    padding-bottom: 8px;

    &--current::after {
      bottom: 2px;
    }

    &--index::after {
      background-color: #ffffff;
    }
  }

  &[href] {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
