.results {
  padding: 27px 0 31px;
  background-color: #EAEAEA;
  overflow: hidden;
}
.results__wrapper {
  box-sizing: border-box;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.results__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 33px;
}
.results__text {
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 40px;
}
.results__data-list {
  margin: 0 0 42px;
}
.results__images {
  box-sizing: border-box;
  width: calc((100%-20px) * 2);
  display: flex;
  margin-bottom: 23px;
}
.results__image {
  width: calc(100% / 2);
  height: auto;
}
.results__buttons {
  margin: 0 25px 0;
}
.results__scale {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 84px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 4px 6px;
}
.results__bar {
  width: 35px;
  height: 6px;
  background: #68B738;
  border-radius: 6px;
}
