.results {
  padding: 27px 0 31px;
  background-color: #eaeaea;
  overflow: hidden;
}

.results__wrapper {
  overflow: hidden;
}

.results__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 33px;
}

.results__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 40px;
}

.results__data-list {
  margin: 0 0 42px;
}

.results__images {
  width: 200%;
  display: flex;
  margin-bottom: 23px;
  align-items: center;
}

.results__image {
  width: 100%;
  height: auto;
}

.results__buttons {
  margin: 0 25px 0;
}

.results__scale {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 4px 6px;
}

.results__bar {
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;
}
