.container {
  padding: 0 @padding;
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;

  @media @tabletonly {
    padding: 0 @midpadding;
    max-width: 1440px;
  }

  @media @desktop {
    padding: 0 @largepadding;
    max-width: 1920px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
