.product-card {
  display: flex;
  flex-wrap: wrap;
  padding: 19px 18px 24px 20px;
  box-sizing: border-box;

  @media @tablet {
    min-height: 511px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    background-image: linear-gradient(to top, #f2f2f2 430px, transparent 430px);
  }

  @media @tabletonly {
    padding: 7px 36px 40px;
  }

  @media @desktop {
    padding: 1px 30px 40px 35px;
  }
}

.product-card__link {
  width: 50%;
  min-height: 112px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 13px;
  font-size: 0;

  @media @tabletonly {
    width: 168px;
    min-height: 200px;
    height: 200px;
    margin-bottom: 34px;
  }

  @media @desktop {
    width: 172px;
    height: 196px;
    margin-bottom: 47px;
  }
}

.product-card__image {
  height: auto;
  display: block;

  @media @tablet {
    width: auto;
  }

  @media @desktop {
    height: 100%;
  }
}

.product-card__description {
  width: 50%;

  @media @tablet {
    width: 100%;
  }
}

.product-card__title-link {
  display: block;
  max-width: 76px;
  color: #222222;
  text-decoration: none;
  margin-bottom: 17px;

  @media @tablet {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 145px;
  }

  @media @tabletonly {
    margin-bottom: 21px;
  }

  @media @desktop {
    margin-bottom: 22px;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;

  @media @tablet {
    font-size: 20px;
  }

  @media @tabletonly {
    line-height: 24px;
  }

  @media @desktop {
    line-height: 21px;
  }
}

.product-card__specs {
  .list();
  margin: 0;
  margin-bottom: 13px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media @tablet {
    font-size: 16px;
    margin-bottom: 33px;
  }
}

.product-card__specs-item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 0;

    @media @tabletonly {
      margin-bottom: 7px;
    }

    @media @desktop {
      margin-bottom: 7.5px;
    }
  }

  @media @tablet {
    margin-left: 5.5px;
    margin-right: 5.5px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media @tabletonly {
    padding-bottom: 9px;
  }

  @media @desktop {
    padding-bottom: 9px;
  }
}

.product-card__characteristic {
  margin: 0;
}

.product-card__value {
  margin: 0;
}

.product-card__buy {
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;

  @media @tablet {
    flex-grow: 0;
    align-self: stretch;
    min-height: 40px;
    margin-top: auto;
  }

  @media @tabletonly {
    margin-left: 3px;
    margin-right: 1px;
    min-height: 39px;
  }

  @media @desktop {
    margin-left: 4px;
    margin-right: 8px;
  }
}
