.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;

  @media @tablet {
    &--vk {
      width: 30px;
      height: 22px;
    }

    &--ig {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 28px;
      height: 33px;
    }
  }

  &:hover,
  &:focus {
    .social-link__stroke {
      stroke: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
