.social-link {
  transition: opacity 0.2s;
  font-size: 0;
  color: #666666;

  &:hover,
  &:focus {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-link__image {
  @media @tablet {
    &--vk {
      width: 29px;
      height: 17px;
    }

    &--ig {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 19px;
      height: 27px;
    }
  }
}
