.main-catalog {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 25px;

  @media @tablet {
    border: none;
  }

  @media @tabletonly {
    margin-bottom: 38px;
  }

  @media @desktop {
    margin-bottom: 43px;
  }
}

.main-catalog__list {
  margin: 0 -@padding 0;

  @media @tabletonly {
    margin: 0 -30px 0;
  }

  @media @desktop {
    margin: 0 -40px 0;
  }
}
