.button {
  min-height: 40px;
  background-color: #68b738;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button__text {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
