.programs-variants {
  .list();
  box-sizing: border-box;

  @media @desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
  }
}

.programs-variants__item:not(:last-child) {
  margin-bottom: 19px;

  @media @tabletonly {
    margin-bottom: 31px;
  }

  @media @desktop {
    margin-bottom: 40px;
  }
}

.programs-variants__item {
  @media @desktop {
    margin: 0 40px 40px;
    width: calc(100% / 2 - 80px);
  }
}
